<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.thebhangarwale">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_truck"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_truck"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheBhangarwale"
        android:name=".TheBhangarwaleApplication">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".login.view.PhoneNumberActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login.view.OtpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask"/>
        <activity
            android:name=".add_item.view.AddItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>
        <activity
            android:name=".UpdateItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.TheBhangarwale.Settings"/>
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".address.view.AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask"/>
        <activity
            android:name=".RequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".address.view.CreateAddressWithGoogleMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TheBhangarwale.GoogleMap"/>
        <activity
            android:name=".address.view.EditWithGoogleMapAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TheBhangarwale.GoogleMap"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
        <activity
            android:name=".ChooseAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ConfirmationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".RequestDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".CancelRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.TheBhangarwale.CancelRequest"/>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask"/>
        <activity
            android:name=".PhoneNumberUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"  />
        <activity
            android:name=".OtpUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"  />
        <activity
            android:name=".SupportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".SupportSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="locale|layoutDirection"
            android:theme="@style/Theme.TheBhangarwale.Settings"/>
        <activity
            android:name=".SearchRequestInsideCartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".address.view.CreateAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".address.view.EditAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".ImageDetailScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name=".VideoDetailScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"/>
    </application>

</manifest>